-- MySQL dump 10.13  Distrib 8.4.6, for Linux (x86_64)
--
-- Host: localhost    Database: db_kepegunmul
-- ------------------------------------------------------
-- Server version	8.4.6

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `failed_jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `connection` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `queue` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `exception` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jabatans`
--

DROP TABLE IF EXISTS `jabatans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jabatans` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `jenis_pegawai` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `jenis_jabatan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `jabatan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jabatans`
--

LOCK TABLES `jabatans` WRITE;
/*!40000 ALTER TABLE `jabatans` DISABLE KEYS */;
INSERT INTO `jabatans` VALUES (1,'Dosen','Dosen Fungsional','Asisten Ahli','2025-08-07 13:54:24','2025-08-07 13:54:24'),(2,'Dosen','Dosen Fungsional','Lektor','2025-08-07 13:54:24','2025-08-07 13:54:24'),(3,'Dosen','Dosen Fungsional','Lektor Kepala','2025-08-07 13:54:24','2025-08-07 13:54:24'),(4,'Dosen','Dosen Fungsional','Guru Besar','2025-08-07 13:54:24','2025-08-07 13:54:24');
/*!40000 ALTER TABLE `jabatans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_batches`
--

DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `job_batches` (
  `id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `total_jobs` int NOT NULL,
  `pending_jobs` int NOT NULL,
  `failed_jobs` int NOT NULL,
  `failed_job_ids` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `options` mediumtext COLLATE utf8mb4_unicode_ci,
  `cancelled_at` int DEFAULT NULL,
  `created_at` int NOT NULL,
  `finished_at` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_batches`
--

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `attempts` tinyint unsigned NOT NULL,
  `reserved_at` int unsigned DEFAULT NULL,
  `available_at` int unsigned NOT NULL,
  `created_at` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `batch` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `model_has_permissions`
--

DROP TABLE IF EXISTS `model_has_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `model_has_permissions` (
  `permission_id` bigint unsigned NOT NULL,
  `model_type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `model_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`permission_id`,`model_id`,`model_type`),
  KEY `model_has_permissions_model_id_model_type_index` (`model_id`,`model_type`),
  CONSTRAINT `model_has_permissions_permission_id_foreign` FOREIGN KEY (`permission_id`) REFERENCES `permissions` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `model_has_permissions`
--

LOCK TABLES `model_has_permissions` WRITE;
/*!40000 ALTER TABLE `model_has_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `model_has_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `model_has_roles`
--

DROP TABLE IF EXISTS `model_has_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `model_has_roles` (
  `role_id` bigint unsigned NOT NULL,
  `model_type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `model_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`role_id`,`model_id`,`model_type`),
  KEY `model_has_roles_model_id_model_type_index` (`model_id`,`model_type`),
  CONSTRAINT `model_has_roles_role_id_foreign` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `model_has_roles`
--

LOCK TABLES `model_has_roles` WRITE;
/*!40000 ALTER TABLE `model_has_roles` DISABLE KEYS */;
INSERT INTO `model_has_roles` VALUES (5,'App\\Models\\BackendUnivUsulan\\Pegawai',1),(5,'App\\Models\\BackendUnivUsulan\\Pegawai',2),(1,'App\\Models\\BackendUnivUsulan\\Pegawai',3),(2,'App\\Models\\BackendUnivUsulan\\Pegawai',3),(3,'App\\Models\\BackendUnivUsulan\\Pegawai',3),(4,'App\\Models\\BackendUnivUsulan\\Pegawai',3),(5,'App\\Models\\BackendUnivUsulan\\Pegawai',3);
/*!40000 ALTER TABLE `model_has_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pangkats`
--

DROP TABLE IF EXISTS `pangkats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pangkats` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `pangkat` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `pangkats_pangkat_unique` (`pangkat`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pangkats`
--

LOCK TABLES `pangkats` WRITE;
/*!40000 ALTER TABLE `pangkats` DISABLE KEYS */;
/*!40000 ALTER TABLE `pangkats` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pegawais`
--

DROP TABLE IF EXISTS `pegawais`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pegawais` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `pangkat_terakhir_id` bigint unsigned NOT NULL,
  `jabatan_terakhir_id` bigint unsigned NOT NULL,
  `unit_kerja_id` bigint unsigned NOT NULL,
  `jenis_pegawai` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `status_kepegawaian` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nip` varchar(18) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nuptk` varchar(16) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `gelar_depan` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nama_lengkap` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `gelar_belakang` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nomor_kartu_pegawai` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `foto` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tempat_lahir` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tanggal_lahir` date NOT NULL,
  `jenis_kelamin` enum('Laki-Laki','Perempuan') COLLATE utf8mb4_unicode_ci NOT NULL,
  `nomor_handphone` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tmt_cpns` date DEFAULT NULL,
  `sk_cpns` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tmt_pns` date DEFAULT NULL,
  `sk_pns` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tmt_pangkat` date DEFAULT NULL,
  `sk_pangkat_terakhir` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tmt_jabatan` date DEFAULT NULL,
  `sk_jabatan_terakhir` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `pendidikan_terakhir` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ijazah_terakhir` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `transkrip_nilai_terakhir` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sk_penyetaraan_ijazah` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `disertasi_thesis_terakhir` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mata_kuliah_diampu` text COLLATE utf8mb4_unicode_ci,
  `ranting_ilmu_kepakaran` text COLLATE utf8mb4_unicode_ci,
  `url_profil_sinta` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `predikat_kinerja_tahun_pertama` enum('Sangat Baik','Baik','Cukup','Kurang','Sangat Kurang','Perlu Perbaikan') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `skp_tahun_pertama` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `predikat_kinerja_tahun_kedua` enum('Sangat Baik','Baik','Cukup','Kurang','Sangat Kurang','Perlu Perbaikan') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `skp_tahun_kedua` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nilai_konversi` double DEFAULT NULL,
  `pak_konversi` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `pegawais_nip_unique` (`nip`),
  UNIQUE KEY `pegawais_email_unique` (`email`),
  KEY `pegawais_pangkat_terakhir_id_foreign` (`pangkat_terakhir_id`),
  KEY `pegawais_jabatan_terakhir_id_foreign` (`jabatan_terakhir_id`),
  KEY `pegawais_unit_kerja_id_foreign` (`unit_kerja_id`),
  CONSTRAINT `pegawais_jabatan_terakhir_id_foreign` FOREIGN KEY (`jabatan_terakhir_id`) REFERENCES `jabatans` (`id`),
  CONSTRAINT `pegawais_pangkat_terakhir_id_foreign` FOREIGN KEY (`pangkat_terakhir_id`) REFERENCES `pangkats` (`id`),
  CONSTRAINT `pegawais_unit_kerja_id_foreign` FOREIGN KEY (`unit_kerja_id`) REFERENCES `sub_sub_unit_kerjas` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pegawais`
--

LOCK TABLES `pegawais` WRITE;
/*!40000 ALTER TABLE `pegawais` DISABLE KEYS */;
/*!40000 ALTER TABLE `pegawais` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `periode_usulans`
--

DROP TABLE IF EXISTS `periode_usulans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `periode_usulans` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nama_periode` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `jenis_usulan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tahun_periode` year NOT NULL,
  `tanggal_mulai` date NOT NULL,
  `tanggal_selesai` date NOT NULL,
  `tanggal_mulai_perbaikan` date DEFAULT NULL,
  `tanggal_selesai_perbaikan` date DEFAULT NULL,
  `status` enum('Buka','Tutup') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Tutup',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `periode_usulans`
--

LOCK TABLES `periode_usulans` WRITE;
/*!40000 ALTER TABLE `periode_usulans` DISABLE KEYS */;
INSERT INTO `periode_usulans` VALUES (1,'Gelombang 1','jabatan',2025,'2025-08-01','2025-08-31',NULL,NULL,'Buka','2025-08-07 13:57:48','2025-08-07 13:57:48');
/*!40000 ALTER TABLE `periode_usulans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permissions`
--

DROP TABLE IF EXISTS `permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `permissions` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `guard_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `permissions_name_guard_name_unique` (`name`,`guard_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permissions`
--

LOCK TABLES `permissions` WRITE;
/*!40000 ALTER TABLE `permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role_has_permissions`
--

DROP TABLE IF EXISTS `role_has_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `role_has_permissions` (
  `permission_id` bigint unsigned NOT NULL,
  `role_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`permission_id`,`role_id`),
  KEY `role_has_permissions_role_id_foreign` (`role_id`),
  CONSTRAINT `role_has_permissions_permission_id_foreign` FOREIGN KEY (`permission_id`) REFERENCES `permissions` (`id`) ON DELETE CASCADE,
  CONSTRAINT `role_has_permissions_role_id_foreign` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role_has_permissions`
--

LOCK TABLES `role_has_permissions` WRITE;
/*!40000 ALTER TABLE `role_has_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `role_has_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `guard_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `roles_name_guard_name_unique` (`name`,`guard_name`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'Admin Universitas Usulan','pegawai','2025-08-07 13:54:24','2025-08-07 13:54:24'),(2,'Admin Universitas','pegawai','2025-08-07 13:54:24','2025-08-07 13:54:24'),(3,'Admin Fakultas','pegawai','2025-08-07 13:54:24','2025-08-07 13:54:24'),(4,'Penilai Universitas','pegawai','2025-08-07 13:54:24','2025-08-07 13:54:24'),(5,'Pegawai Unmul','pegawai','2025-08-07 13:54:24','2025-08-07 13:54:24');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sub_sub_unit_kerjas`
--

DROP TABLE IF EXISTS `sub_sub_unit_kerjas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sub_sub_unit_kerjas` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `sub_unit_kerja_id` bigint unsigned NOT NULL,
  `nama` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `sub_sub_unit_kerjas_sub_unit_kerja_id_foreign` (`sub_unit_kerja_id`),
  CONSTRAINT `sub_sub_unit_kerjas_sub_unit_kerja_id_foreign` FOREIGN KEY (`sub_unit_kerja_id`) REFERENCES `sub_unit_kerjas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sub_sub_unit_kerjas`
--

LOCK TABLES `sub_sub_unit_kerjas` WRITE;
/*!40000 ALTER TABLE `sub_sub_unit_kerjas` DISABLE KEYS */;
INSERT INTO `sub_sub_unit_kerjas` VALUES (1,1,'Prodi Rekayasa Perangkat Lunak','2025-08-07 13:54:24','2025-08-07 13:54:24'),(2,1,'Prodi Jaringan Komputer','2025-08-07 13:54:24','2025-08-07 13:54:24'),(3,2,'Prodi Struktur Bangunan','2025-08-07 13:54:24','2025-08-07 13:54:24');
/*!40000 ALTER TABLE `sub_sub_unit_kerjas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sub_unit_kerjas`
--

DROP TABLE IF EXISTS `sub_unit_kerjas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sub_unit_kerjas` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `unit_kerja_id` bigint unsigned NOT NULL,
  `nama` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `sub_unit_kerjas_unit_kerja_id_foreign` (`unit_kerja_id`),
  CONSTRAINT `sub_unit_kerjas_unit_kerja_id_foreign` FOREIGN KEY (`unit_kerja_id`) REFERENCES `unit_kerjas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sub_unit_kerjas`
--

LOCK TABLES `sub_unit_kerjas` WRITE;
/*!40000 ALTER TABLE `sub_unit_kerjas` DISABLE KEYS */;
INSERT INTO `sub_unit_kerjas` VALUES (1,1,'S1 Informatika','2025-08-07 13:54:24','2025-08-07 13:54:24'),(2,1,'S1 Teknik Sipil','2025-08-07 13:54:24','2025-08-07 13:54:24'),(3,2,'S1 Manajemen','2025-08-07 13:54:24','2025-08-07 13:54:24'),(4,2,'S1 Akuntansi','2025-08-07 13:54:24','2025-08-07 13:54:24');
/*!40000 ALTER TABLE `sub_unit_kerjas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `unit_kerjas`
--

DROP TABLE IF EXISTS `unit_kerjas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `unit_kerjas` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nama` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unit_kerjas_nama_unique` (`nama`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `unit_kerjas`
--

LOCK TABLES `unit_kerjas` WRITE;
/*!40000 ALTER TABLE `unit_kerjas` DISABLE KEYS */;
INSERT INTO `unit_kerjas` VALUES (1,'Fakultas Teknik','2025-08-07 13:54:24','2025-08-07 13:54:24'),(2,'Fakultas Ekonomi dan Bisnis','2025-08-07 13:54:24','2025-08-07 13:54:24');
/*!40000 ALTER TABLE `unit_kerjas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usulan_dokumens`
--

DROP TABLE IF EXISTS `usulan_dokumens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usulan_dokumens` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `usulan_id` bigint unsigned NOT NULL,
  `diupload_oleh_id` bigint unsigned NOT NULL,
  `nama_dokumen` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `path` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `usulan_dokumens_usulan_id_created_at_index` (`usulan_id`,`created_at`),
  KEY `usulan_dokumens_diupload_oleh_id_index` (`diupload_oleh_id`),
  CONSTRAINT `usulan_dokumens_diupload_oleh_id_foreign` FOREIGN KEY (`diupload_oleh_id`) REFERENCES `pegawais` (`id`) ON DELETE RESTRICT,
  CONSTRAINT `usulan_dokumens_usulan_id_foreign` FOREIGN KEY (`usulan_id`) REFERENCES `usulans` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usulan_dokumens`
--

LOCK TABLES `usulan_dokumens` WRITE;
/*!40000 ALTER TABLE `usulan_dokumens` DISABLE KEYS */;
/*!40000 ALTER TABLE `usulan_dokumens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usulan_logs`
--

DROP TABLE IF EXISTS `usulan_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usulan_logs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `usulan_id` bigint unsigned NOT NULL,
  `status_sebelumnya` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status_baru` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `catatan` text COLLATE utf8mb4_unicode_ci,
  `dilakukan_oleh_id` bigint unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `usulan_logs_usulan_id_foreign` (`usulan_id`),
  KEY `usulan_logs_dilakukan_oleh_id_foreign` (`dilakukan_oleh_id`),
  CONSTRAINT `usulan_logs_dilakukan_oleh_id_foreign` FOREIGN KEY (`dilakukan_oleh_id`) REFERENCES `pegawais` (`id`),
  CONSTRAINT `usulan_logs_usulan_id_foreign` FOREIGN KEY (`usulan_id`) REFERENCES `usulans` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usulan_logs`
--

LOCK TABLES `usulan_logs` WRITE;
/*!40000 ALTER TABLE `usulan_logs` DISABLE KEYS */;
INSERT INTO `usulan_logs` VALUES (1,1,NULL,'Draft',NULL,3,'2025-08-07 14:47:29','2025-08-07 14:47:29'),(3,1,'Draft','Diajukan','Usulan diperbarui oleh pengusul.',3,'2025-08-07 22:46:11','2025-08-07 22:46:11');
/*!40000 ALTER TABLE `usulan_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usulan_penilai`
--

DROP TABLE IF EXISTS `usulan_penilai`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usulan_penilai` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `usulan_id` bigint unsigned NOT NULL,
  `penilai_id` bigint unsigned NOT NULL,
  `status_penilaian` enum('Belum Dinilai','Sesuai','Perlu Perbaikan') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Belum Dinilai',
  `catatan_penilaian` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `usulan_penilai_usulan_id_foreign` (`usulan_id`),
  KEY `usulan_penilai_penilai_id_foreign` (`penilai_id`),
  CONSTRAINT `usulan_penilai_penilai_id_foreign` FOREIGN KEY (`penilai_id`) REFERENCES `pegawais` (`id`) ON DELETE CASCADE,
  CONSTRAINT `usulan_penilai_usulan_id_foreign` FOREIGN KEY (`usulan_id`) REFERENCES `usulans` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usulan_penilai`
--

LOCK TABLES `usulan_penilai` WRITE;
/*!40000 ALTER TABLE `usulan_penilai` DISABLE KEYS */;
/*!40000 ALTER TABLE `usulan_penilai` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usulans`
--

DROP TABLE IF EXISTS `usulans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usulans` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `pegawai_id` bigint unsigned NOT NULL,
  `periode_usulan_id` bigint unsigned NOT NULL,
  `jenis_usulan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `jabatan_lama_id` bigint unsigned DEFAULT NULL,
  `jabatan_tujuan_id` bigint unsigned DEFAULT NULL,
  `status_usulan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Draft',
  `data_usulan` json DEFAULT NULL,
  `catatan_verifikator` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `usulans_pegawai_id_foreign` (`pegawai_id`),
  KEY `usulans_periode_usulan_id_foreign` (`periode_usulan_id`),
  KEY `usulans_jabatan_lama_id_foreign` (`jabatan_lama_id`),
  KEY `usulans_jabatan_tujuan_id_foreign` (`jabatan_tujuan_id`),
  CONSTRAINT `usulans_jabatan_lama_id_foreign` FOREIGN KEY (`jabatan_lama_id`) REFERENCES `jabatans` (`id`),
  CONSTRAINT `usulans_jabatan_tujuan_id_foreign` FOREIGN KEY (`jabatan_tujuan_id`) REFERENCES `jabatans` (`id`),
  CONSTRAINT `usulans_pegawai_id_foreign` FOREIGN KEY (`pegawai_id`) REFERENCES `pegawais` (`id`) ON DELETE CASCADE,
  CONSTRAINT `usulans_periode_usulan_id_foreign` FOREIGN KEY (`periode_usulan_id`) REFERENCES `periode_usulans` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usulans`
--

LOCK TABLES `usulans` WRITE;
/*!40000 ALTER TABLE `usulans` DISABLE KEYS */;
/*!40000 ALTER TABLE `usulans` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-08-08  0:39:48
